h1 {
  font-family: monospace;
  font-size: 50px;
  text-align: center;

}

ul {
  font-family: monospace;
  font-size: 20px;
  padding-right: 5px;
  padding-top: 5px;
}

img {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

th {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}

.centre{
  background-color: #282c34;
  min-height: 3vh;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  font-size: calc(20px);
  color: white;
  /* padding-top: 20px; */
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
